body{
    margin: 0 auto;
    background-color: #512992;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
    background-color: #512992;
    text-align: center;
    border-radius: 10px;
    margin: 0px 25px;
    font-size: 1.5em;
    justify-content: center;
    align-items: flex-start;
}
.menu a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: #512992;
    color: rgb(255, 255, 255);
    text-decoration: none;  /*是改變超連結的底線*/
}
.menu a:hover{
    background-color: rgb(204, 147, 250);
    color: rgb(255, 255, 255);
}

.menu2 li{
    list-style-type: none;
    display: inline-block;
    width:200px;
    background-color: #D3D3D3;
    text-align: center;
    border-radius: 10px;
    margin: 190px;
    font-size: 1.5em;
    justify-content: center;
    align-items: flex-start;
   
}

.menu2 a{
    display: inline-block;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    background-color: #D3D3D3;
    color: black;
    text-decoration: none;
}

.menu2 a:hover{
    background-color: #f0f0f0;
    color: black;
}